<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Learning Angular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-messages.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="InvertedIndex.js"></script>
    <script src="app.js"></script>
    <style>
      body{padding-top: 60px;}
  </style>
</head>
<body>
  <div class="wrapper container" ng-controller="mainController">
   
    <div class="container">
      
      <input type="file" ng-model="fileUpload" id="fileInput">
      
     <br><br><br>
<!--     search  -->
      <input type="text" ng-model="searchKey" ng-keypress="masterIndex.searchOnEnter($event, searchKey)"> <button ng-click="masterIndex.searchIndex(searchKey)">Search</button>
      <div id="flash"></div>
      <div class="display">
        <ul>
         <li><a href="javascript:void(0)" ng-click="masterIndex.showAll()">Index all files</a></li>
          <li ng-repeat="file in masterIndex.files">
            <a href="javascript:void(0)" ng-click="masterIndex.getIndex(file)">{{file}}</a> <a href="javascript:void(0)" ng-click="masterIndex.deleteFile(file)">Delete</a>
          </li>
        </ul>
      </div>
      
      <!--Single File-->
      <table class="table" ng-if="!masterIndex.showAllFiles">
        <thead>
          <th>Word</th>
          <th ng-repeat="num in masterIndex.indexed.totalBooks">doc{{num + 1}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="word in masterIndex.indexed.allWords" ng-if="!masterIndex.check"><td>{{word}}</td><td ng-repeat="num in masterIndex.indexed.totalBooks">{{masterIndex.verifyWord(masterIndex.indexed['book' + num][word])}}</td></tr>
          <tr ng-if="masterIndex.check" ng-repeat="word in masterIndex.searchTerms"><td>{{word}}</td><td ng-repeat="num in masterIndex.indexed.totalBooks">{{masterIndex.verifyWord(masterIndex.indexed['book' + num][word])}}</td></tr>
        </tbody>
      </table>

      <!--Show All Files-->
      <table class="table" ng-if="masterIndex.showAllFiles" ng-repeat="file in masterIndex.files">
        <thead>
          <th>Word</th>
          <th ng-repeat="num in masterIndex[file].totalBooks">doc{{num + 1}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="word in masterIndex[file].allWords" ng-if="!masterIndex.check"><td>{{word}}</td><td ng-repeat="num in masterIndex[file].totalBooks">{{masterIndex.verifyWord(masterIndex[file]['book' + num][word])}}</td></tr>
          <tr ng-if="masterIndex.check" ng-repeat="word in masterIndex.searchTerms"><td>{{word}}</td><td ng-repeat="num in masterIndex[file].totalBooks">{{masterIndex.verifyWord(masterIndex[file]['book' + num][word])}}</td></tr>
        </tbody>
      </table>
      
    </div>
  
    
  </div>
</body>
</html>